{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% block title %}rockit server - {% endblock %}{% block page_title %}{% endblock %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block css_meta %}
        {% block external_css %}
          <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
          </style>
          <link rel="stylesheet" href="/static/Bootflat/css/bootstrap.min.css">
          <link rel="stylesheet" href="/static/Bootflat/bootflat/css/bootflat.min.css">
          <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        {% endblock %}
        {% block internal_css %}
          <link href="{% static 'rockit/css/rockit.css' %}" rel="stylesheet">
        {% endblock %}
      {% endblock %}

      {% block header_js %}
      <script src="/static/modernizer/modernizr.js"></script>
      <script src="/static/requirejs/require.js" data-main="{% static 'rockit/js/main.js' %}"></script>
      {% endblock %}
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include 'base/header/header.html' %}

    <div class="container" {% block inject_controller %}{% endblock %}>

      {% block breadcrumb %}
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        {% block breadcrumb_items %}{% endblock %}
      </ol>
      {% endblock %}

      <div ng-view>Laddar vy ...</div>

      {% block base_section %}
        {% block section %}{% endblock %}
      {% endblock %}

      <hr>

      {% include 'base/footer/footer.html' %}
    </div> <!-- /container -->

    {% block js %}
        <script src="/static/jquery/dist/jquery.min.js"></script>
      {% block js_bootstrap %}
        <script src="/static/Bootflat/js/bootstrap.min.js"></script>
      {% endblock %}
      {% block js_inline %}{% endblock %}
    {% endblock %}
  </body>
</html>