<div class="page-header">
  <h2>Nodes</h2>
</div>

<!--
<div class="row">
  <div class="col-md-5">
    <div class="form-search search-only">
      <i class="search-icon glyphicon glyphicon-search"></i>
      <input class="form-control search-query">
    </div>
  </div>
</div>
-->

<div class="well selectable" data-ng-repeat="node in nodes" data-ng-click="onSelectedNode(node)">
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <img src="http://placehold.it/150">
    </div>
    <div class="col-md-10 col-sm-9">
      <h4 data-ng-bind="::node.name"></h4>
      <p data-ng-bind="::node.association.description"></p>
      <hr />
      <div class="pull-right">
        <span class="label label-info" data-ng-bind="::node.association.name"></span>
      </div>
    </div>
  </div>
</div>