<div class="col-xs-12">
  <label for="{{container}}.criteria.actions.POST.recipients.id" class="control-label">Recipients</label>
  <input id="{{container}}.criteria.actions.POST.recipients.id"
      name="{{container}}.criteria.actions.POST.recipients.id" class="form-control" type="text" placeholder="Recipients"
      data-ng-model="{{container}}.criteria.actions.POST.recipients.model"
      data-ng-required="{{container}}.criteria.actions.POST.recipients.required"
      data-ng-change="validateCriteria({{container}}.criteria.actions.POST.recipients)"></input>
</div>

<div class="col-xs-12">
  <label for="{{container}}.criteria.actions.POST.subject.id" class="control-label">Subject</label>
  <input id="{{container}}.criteria.actions.POST.subject.id"
      name="{{container}}.criteria.actions.POST.subject.id" class="form-control" type="text"
      data-ng-model="{{container}}.criteria.actions.POST.subject.model"
      data-ng-required="{{container}}.criteria.actions.POST.subject.required"
      data-ng-change="validateCriteria({{container}}.criteria.actions.POST.subject)"></input>
</div>

<div class="col-xs-12">
  <label for="{{container}}.criteria.actions.POST.message.id" class="control-label">Message</label>
  <textarea id="{{container}}.criteria.actions.POST.message.id"
      name="{{container}}.criteria.actions.POST.message.id" class="form-control" rows="10"
      data-ng-model="{{container}}.criteria.actions.POST.message.model"
      data-ng-required="{{container}}.criteria.actions.POST.message.required"
      data-ng-change="validateCriteria({{container}}.criteria.actions.POST.message)"></textarea>
</div>