{% extends 'base/login/login.html' %}
{% load i18n %}

{% block page_title %}Settings{% endblock %}

{% block breadcrumb_items %}
<li class="active">Nodes</li>
{% endblock %}

{% block section %}

  <div class="row" data-ng-controller="NodesCtrl" data-ng-init="loadNodes()">
    <div class="media" data-ng-repeat="node in nodes">
      <a class="media-left" href="#">
        <img src="http://placehold.it/100">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <editable data-ng-model="node.name" data-on-update="updateName(node, value)"></editable>
        </h4>
        <p data-ng-bind="::node.association.description"></p>
      </div>
    </div>
  </div>

{% endblock %}
