<div class="page-header">
	<h2>Settings</h2>
</div>

<div class="row" data-ng-init="loadAvailableSettings()">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li class="selectable" role="presentation" data-ng-repeat="setting in settings" data-ng-class="{'active': (selected == setting)}">
				<a data-ng-click="onSelectSettings(setting)" data-ng-bind="::setting.name"></a>
			</li>
		</ul>
	</div>
	<div class="col-md-10 ng-hide" data-ng-show="selected">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span data-ng-bind="selected.name"></span>
				<button type="button" class="btn btn-danger btn-xs pull-right">Disable</button>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" data-ng-show="selected.items.length">
					<div class="form-group" data-ng-repeat="item in selected.items">
						<label class="col-sm-3 control-label" data-ng-bind="::item.name | translate"></label>
						<div class="col-sm-8">
							<p class="form-control-static" data-ng-bind="::item.value"></p>
						</div>
					</div>
				</form>
				<p data-ng-show="!selected.items.length">
					No available settings found
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row" data-ng-show="settings">
	<h3 class="col-md-12"><span data-ng-bind="settings.length"></span> available plugins</h3>

	<div class="col-md-2" data-ng-repeat="setting in settings">
		<span data-ng-bind="::setting.name"></span>
	</div>
</div>
