<div id="{{container}}-criteria" class="row margin-top" data-ng-show="{{container}}.criteria && !{{container}}.skipped">
  <div class="col-xs-12">
    <h3>Fill in</h3>
    <p class="lead">
    Fill in all necessary fields
    </p>
  </div>

  <div class="col-xs-12">
    <form class="form-horizontal" role="form" name="{{container}}">
      <div class="form-group" data-ng-repeat="(key, criteria) in {{container}}.criteria.actions.POST"
        data-ng-class="{ 'has-error has-feedback': criteria.error }">
        {% verbatim %}
        <label for="{{key}}" class="col-sm-2 control-label" data-ng-bind="::criteria.label | translate"></label>
        <div class="col-sm-5" data-ng-switch="criteria.type">
          <div ng-switch-when="select">
            <select id="{{key}}" name="{{key}}" class="form-control selecter_basic" data-items="criteria.values"
              data-ng-model="criteria.model"></select>
          </div>
          <div ng-switch-default>
            <input id="{{key}}" name="{{key}}" class="form-control" type="text" placeholder="{{criteria.label}}"
              data-ng-model="criteria.model"
              data-ng-required="criteria.required"
              data-ng-change="validateCriteria(criteria)" />
          </div>

          <span id="helpRequired" class="help-block" data-ng-if="criteria.required">This field is required</span>
        </div>
        {% endverbatim %}
      </div>
    </form>
  </div>
</div>