<div id="{{container}}-criteria" class="row margin-top" data-ng-show="{{container}}.criteria && !{{container}}.skipped">
  <div class="col-xs-12">
    <h3>Fill in</h3>
    <p class="lead">
    Fill in all necessary fields
    </p>
  </div>

  <div class="col-xs-12">
    <form class="form-inline form-criteria" role="form" name="{{container}}">
      <div class="well" data-ng-repeat="(key, criteria) in {{container}}.criteria.actions.POST"
        data-ng-class="{ 'has-error has-feedback': criteria.error }">
        <p class="heading text-muted" data-ng-bind="::{{container}}.selection.criteria.name"></p>
        <div data-ng-switch="criteria.type">
          <div data-ng-switch-when="select">
            {% include 'partials/mixes/criterias/select.html' %}
          </div>
          <div data-ng-switch-when="schedule">
            {% include 'partials/mixes/criterias/schedule.html' %}
          </div>
          <div data-ng-switch-default>
          {% include 'partials/mixes/criterias/default.html' %}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
