<div id="mix-finish" class="filler padding-top">
  <div class="page-header">
    <h2>Finish</h2>
  </div>

  <p class="lead">
    Almost there ... some final touch before creating your newly mix. Hoorayy!
  </p>

  <div class="row margin-top">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="save()">Save</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-block" data-ng-click="scrollTo('#mix-then')">Back</button>
    </div>
  </div>
</div>