<div id="mix-finish" class="filler padding-top" data-ng-if="then.saved">
  <div class="page-header">
    <h2>Finish</h2>
  </div>

  <p class="lead">
    Almost there ... some final touch before creating your newly mix. Hoorayy!
  </p>

  {# Select one of the groups #}
  {% include 'base/mixes/groups.html' with container='finish' skip_target='#personalize' %}

  {# Then show selected groups criterias #}
  {% include 'base/mixes/selected.html' with container='finish' %}

  {# Configure the criterias value and save #}
  {% include 'base/mixes/criteria.html' with container='finish' %}

  <div class="row margin-top" data-ng-show="finish.selection.criteria && !finish.skipped">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="save()">Continue</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-block" data-ng-click="scrollTo('#mix-then')">Back</button>
    </div>
  </div>
</div>