<div id="personalize" class="padding-top" data-ng-if="finish.saved">
  <div class="page-header">
    <h2>Personalize</h2>
  </div>

  <p class="lead">
    Personalized it so it will be easier to remember
  </p>

  <div class="col-xs-12">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-5">
          <input id="name" name="name" class="form-control" type="text" placeholder="Action name" data-ng-model="personalize.name" />
          <span id="helpRequired" class="help-block">This field is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-5">
          <textarea id="description" name="description"  class="form-control" rows="5" data-ng-model="personalize.description"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="row margin-top" data-ng-show="personalize.name">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="save()" data-ng-disabled="!personalize.name">Save</button>
    </div>
    <div class="col-xs-12" data-ng-show="errors">
      <div class="alert alert-danger margin-top" role="alert">
        <strong>Error when trying to save mix</strong>
        <ul>
          <li data-ng-repeat="(idx, error) in errors.detail">
            <div data-ng-repeat="(key, message) in error">
              <strong data-ng-bind="::key"></strong> - <span data-ng-bind="::message"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>