<div id="mix-then" class="filler padding-top">
  <div class="page-header">
    <h2>Then</h2>
  </div>

  <p class="lead">
    Tell me what to do when it kicks in.
  </p>

  <div class="row margin-top">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="scrollTo('#mix-finish')">Continue</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-block" data-ng-click="scrollTo('#mix-when')">Back</button>
    </div>
  </div>
</div>