<div id="mix-then" class="padding-top" data-ng-show="when.saved">
  <div class="page-header">
    <h2>Then</h2>
  </div>

  <p class="lead">
    Tell me what to do when it kicks in.
  </p>

  {# Select one of the groups #}
  {% include 'base/mixes/groups.html' with container='then' %}

  {# Then show selected groups criterias #}
  {% include 'base/mixes/selected.html' with container='then' %}

  {# Configure the criterias value and save #}
  {% include 'base/mixes/criteria.html' with container='then' %}

  <div class="row margin-top" data-ng-show="then.selection.criteria">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="next(then, '#mix-finish')">Continue</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-block" data-ng-click="scrollTo('#mix-when')">Back</button>
    </div>
  </div>
</div>