<div id="mix-when" class="padding-top" data-ng-init="getCriterias()">
  <div class="page-header">
    <h2>When</h2>
  </div>

  <p class="lead">
    Control Rockit nodes behavior by given when it should start
  </p>

  {# Select one of the groups #}
  {% include 'base/mixes/groups.html' with container='when' skip_target='#mix-then' %}

  {# Then show selected groups criterias #}
  {#% include 'base/mixes/selected.html' with container='when' %#}

  {# Configure the criterias value and save #}
  {% include 'base/mixes/criteria.html' with container='when' %}

  <div class="row margin-top" data-ng-show="when.selection.criteria && !when.skipped">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="next(when, '#mix-then')">Continue</button>
    </div>
  </div>
</div>