
body {
  background-color: #FAFAFA;
}

p.thumbnail {
  margin: 40px 0;
}

.main {
  min-height: 300px;
}

.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.selectable {
  cursor: pointer;
}