
body {
  background-color: #FAFAFA;
}

p.thumbnail {
  margin: 40px 0;
}

.btn-mixes {
  height: 4.3em;
}

.margin-top {
  margin-top: 2em;
}

.main {
  min-height: 300px;
}

.selectable {
  cursor: pointer;
}

